.crud-table {
    border-collapse: collapse;
    table-layout: fixed;
}


/* Cells structure: */
    .crud-table td, .crud-table > tr:not(:first-child) > th {
        border: 1px solid #111827;
        margin: 0;
        padding: 0;
    }

    .crud-table td:last-child, th:last-child {
        border: 0;
    }


/* Certain columns details: */
    .crud-table th {
        padding-bottom: 4px;
    }

    .comment-td {
        width: 30%;
    }


/* Editors of crud-table: */
    .crud-table input, .crud-table select {
        width: 100%;
        box-sizing: border-box;
        min-height: 26px;
        border: 0;
        background-color: #29364A;
        color: lightgray;
        padding-left: 4px;
        font-family: Arial;
    }

    .crud-table input:focus, .crud-table select:focus {
        outline: 1px solid lightblue;
    }

    .product-move-type-select {
        min-width: 124px;
    }

    .crud-table option {
        background-color: #374151;
    }


/* Buttons: */
    .btn {
        border: 0;
        background: none;
        height: 18px;
        width: 18px;
        margin: 0;
    }

    .btn-icon {
        height: 18px;
        width: 18px;
        display:block;
        margin:auto;
    }


/* */
    .table-tools-line {
        margin-top: 4px;
        margin-right: 18px; /* should be verticaly in line with visual crud-table. I don't know how make it more automatic */
    }

    .paginator-wrapper {
        float: right;
    }
