.report-table {
    border-collapse: collapse;
    table-layout: fixed;
}

/* Cells structure: */
    .report-table th {
        padding: 5px;
        border: transparent;
    }

    .report-table td {
        padding: 5px;
        border: 1px solid #111827;

        background: #29364A;
        overflow: hidden;
        vertical-align: top;

        font-size: 13.33px;
        font-family: Arial;
    }

    .report-table td:not(:last-child) {
        min-width: 52px;
    }


/* */
.year-td {
}

/* Seasons td's */
    tr > .winter-td {
        background: #29364A;
    }

    tr > .spring-td {
        background: #31432D;
    }

    tr > .summer-td {
        background: #535434;
    }

    tr > .fall-td {
        background: #4f2d2d;
    }

tr > .report-field-td {
    background: transparent;
    border: 0;
    width: 20px;
}


/* */
    .table-tools-line {
        margin-top: 4px;
        margin-right: 25px; /* should be verticaly in line with visual crud-table. I don't know how make it more automatic */
    }

    .paginator-wrapper {
        float: right;
        margin-right: 4px;
    }
