.year-td {
    min-width: 44px;
}

.report-table td:last-child {
    border: 0;
}


tr > .winter-td {
    background: #29364A;
    min-width: 44px;
}

tr > .spring-td {
    background: #32432C;
    min-width: 44px;
}

tr > .summer-td {
    background: #545433;
    min-width: 44px;
}

tr > .fall-td {
    background: #563131;
    min-width: 44px;
}

tr > .report-field-td {
    background: transparent;
    min-width: 44px;
}

