.crud-table {
    border-collapse: collapse;
    table-layout: fixed;
}

.crud-table input, .crud-table select {
    width: 100%;
    box-sizing: border-box;
    min-height: 24px;
    border: 0;
    background-color: #374151;
    color: white;
}

.crud-table input:focus {
    outline: 1px solid lightblue;
}

.crud-table td:not(:last-child), .crud-table > tr:not(:first-child) > th:not(:last-child) {
    border: 1px solid #1f2937;
    margin: 0;
    padding: 0;
}

.crud-table th {
    margin-bottom: 16px;
}

.btn {
    border: 0;
    background: none;
    height: 18px;
    width: 18px;
    margin: 0;
}

.btn-icon {
    height: 18px;
    width: 18px;
    display:block;
    margin:auto;
}

.product-move-type-select {
    min-width: 124px;
}

.comment-td {
    width: 30%;
}
