.count-input, .page-input{
    width:38px;
    height: 18px;
    text-align: right;
    color: lightgray;

    background: #2F3D53;
    border: 1px solid #111827;
    border-radius: 4px;
    padding-right: 3px;
}

.paginator {
    color: lightgray;
    font-family: Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
}
