.fieldwise-search-btn {
    background-image: url('../../images/fieldwise-search-icon.png');
    margin-right: 4px;
}

.fieldwise-search-menu {
    border: 1px solid #111827;

    background-color: #29364A;

    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}


.dropdown-content.fieldwise-search-menu {
    margin-top: 7px;
    margin-left: -8.5px;
}

.fieldwise-search-input {
    width: 160px;
    min-height: 22px;
    border: 1px solid #111827;
    border-radius: 3px;

    background-color: #374151;
    outline: 1px lightblue;
    color: lightgray;
}

.fieldwise-search-input::-webkit-inner-spin-button,
.fieldwise-search-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.header-td {
    font-family: Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    padding-left: 4px;
}
