

.ordering-component {
    width: 72px;
    height: 23px;
    padding: 4px 8px 4px 8px;
    margin-left: 0;
    margin-right: 4px;

    background-color: #29364A;
    border: 1px solid #111827;
}

/* fieldwise ordering menu */
    .ordering-menu {
        background-color: #374151;
        border-radius: 2px;
        border-top: 1px solid #111827;
        border-left: 1px solid #111827;
        border-bottom: 1px solid #3a3232;
        border-right: 1px solid #3a3232;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    }

    .ordering-menu input {
        background-color: #29364A;
        border: 1px solid #111827;
        border-radius: 3px;
        color: lightgray;
    }

    .header-td {
        font-family: Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 14px;
        padding-left: 4px;
    }

/* Buttons */
    .un-ordering-btn {
        background-image: url('../../images/un-ordering-icon.png');
        background-size: 100% 100% ;
    }

    .ok-ordering-btn {
        background-image: url('../../images/ok-ordering-icon.png');
        background-size: 100% 100% ;
    }

    .ordering-btn {
        background-image: url('../../images/ordering-icon.png');
        background-size: 100% 100% ;
    }

    .order-direction-btn {
        background-image: url('../../images/up-ordering-icon.png');
        background-size: 100% 100% ;
    }

