:root {
    --ordering-component-height: 32px;
}


.ordering-component {
    position: relative;
    box-sizing: border-box;

    height: var(--ordering-component-height);

    border: 1px solid #111827;

    padding: 4px 6px;
    margin-left: 0;
    margin-right: 4px;

    background-color: #29364A;
}

/* fieldwise ordering menu */
    .ordering-menu {
        border: 1px solid #111827;

        background-color: #29364A;
        box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    }

    .dropdown-content.ordering-menu {
        position: absolute;
        top: var(--ordering-component-height);
        left: -0.5px;
        margin-top: 4px;
    }

    .ordering-menu input {
        background-color: #374151;
        border: 1px solid #111827;
        border-radius: 3px;
        color: lightgray;
    }

    .header-td {
        padding-left: 4px;

        font-family: Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 14px;
        white-space:nowrap;
    }

/* Buttons */
    .un-ordering-btn {
        background-image: url('../../images/un-ordering-icon.png');
        background-size: 100% 100% ;
    }

    .ok-ordering-btn {
        background-image: url('../../images/ok-ordering-icon.png');
        background-size: 100% 100% ;
    }

    .ordering-btn {
        background-image: url('../../images/ordering-icon.png');
        background-size: 100% 100% ;
    }

    .order-direction-btn {
        background-image: url('../../images/up-ordering-icon.png');
        background-size: 100% 100% ;
    }

